advent-of-code-data~=0.8.5
pytest~=6.1.2
black
flake8
scalene
numba~=0.52.0
networkx~=2.5
bitarray

helpers~=0.0.0
numpy~=1.19.4
pyparsing~=2.4.7
hypothesis~=5.41.5
regex~=2020.11.13
setuptools~=41.2.0